{% extends 'app/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stripe.css' %}">
{% endblock %}
{% block body %}
<div class="col-md-8 mt-5">
    <h1>Make Payment</h1>
    
    <form action="." method="POST" id="stripe-form">
        {% csrf_token %}
        <div class="stripe-form-row">
            <label for="card-element">
                Credit or debit card
            </label>
            <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
            </div>
            <!-- Used to display form errors. -->
            <div id="card-errors" role="alert"></div>
        </div>

        <button class="btn btn-primary mt-2" type="submit">Submit Payment</button>
    </form>
</div>
<!-- TODO style this area below -->
<div class="col-md-4 mt-5">
    <legend class="border-bottom mb-2">Order Summary</legend>
    {% for order_item in order.items.all %}
        <p>{{order_item.quantity }} x {{ order_item.item.title }}: <strong>£{{ order_item.get_final_price }}</strong></p>
    {% endfor %}
    <p>Total: <strong>£{{ order.get_total }}</strong></p>
</div>
<!-- stripe  -->
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'js/stripe.js' %}"></script>
{% endblock %}