{% extends 'app/base.html' %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="col-md-4 mt-5">
        <h1>{{ item.title }}</h1>
        <img class="mt-5" src="{{ item.image.url }}" alt="">
    </div>
    <div class="col-md-8 mb mt-5">
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto,
            impedit officiis facere sed blanditiis fugit odio repellat facilis ullam
            unde beatae dolor accusamus modi laborum distinctio hic. Odio, unde labore.
        </p>
        
        {% if item.discount_price %}
            <p><s>Was: £{{ item.price }}</s></p>
            <p><strong>Now: £{{ item.discount_price }}</strong></p>
        {% else %}
            <p>£{{ item.price }}</p>
        {% endif %}
        <a class="btn btn-primary mb-5" href="{{ item.get_add_to_cart_url }}">Add to cart</a>
    </div>
    <div class="col-md-6 mt-5">
        <h2>Customer Reviews</h2>
        {% for comment in review %}
            <legend class="border-bottom mb-2">{{ comment.title }}</legend>
            <div class="star-rating mt-2 mb-2">
                {% if comment.star_rating == '5' %}
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                {% elif comment.star_rating == '4' %}
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                {% elif comment.star_rating == '3' %}
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                {% elif comment.star_rating == '2' %}
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                {% else %}
                    <i class="fa fa-star" aria-hidden="true"></i>
                {% endif %}
            </div>
            <p>{{ comment.content }}</p>
            <div class="border-top pt3 mb-3">
                <small class="text-muted">
                    Review left by: {{ comment.author }} on {{ comment.date_posted|date:'d-m-Y H:i' }}
                </small>
            </div>
        {% endfor %}
    </div>
    <div class="col-md-6 mt-5">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Leave a Review</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <!-- this needs some stuff on it -->
    
{% endblock %}

{% block javascripts %}
<script>
    var app = new Vue({
        el: '#app',
        // change the default delimiters so it doesn't interfere with jinja 
        delimiters: ['$[', ']'],
        data: {
          message: 'Hello Vue!'
        }
      })
</script>
{% endblock %}